pyrogram
tgcrypto
requests
pyromod
ffmpeg
mediainfo
cloudscraper
beautifulsoup4
bs4
aiohttp
aiofiles
soupsieve
PySocks
websockets
yt-dlp
psutil
async-lru
certifi
charset-normalizer
idna==3.4
mutagen
helper
pyaes
pycryptodome
py-tgcalls
jinja2
urllib3==2.0.3
pytz
umongo==3.1.0
speedtest-cli
